name: sonar cloud scan for core

on:
  push:
    branches: [ master ]
    paths:
      - 'infrastructure/core/**'
      - 'infrastructure/test-core/**'
      - '.github/workflows/sonar-core.yml'
  pull_request:
    branches: [ master ]
    paths:
      - 'infrastructure/core/**'
      - 'infrastructure/test-core/**'
      - '.github/workflows/sonar-core.yml'
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    env:
      BUILD_WRAPPER_OUT_DIR: build_wrapper_output_directory
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        preset: [ci-test-core-release]

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true
        fetch-depth: 0

    - name: Setup SSH key
      uses: webfactory/ssh-agent@v0.7.0
      with:
        ssh-private-key: ${{secrets.SSH_PRIVATE_KEY}}

    - uses: seanmiddleditch/gha-setup-ninja@master

    - name: Install sonar-scanner and build-wrapper
      uses: sonarsource/sonarcloud-github-c-cpp@v2

    - name: Configure Tests
      run: cmake . --preset=${{matrix.preset}}

    - name: Build Tests
      run: build-wrapper-linux-x86-64 --out-dir ${{env.BUILD_WRAPPER_OUT_DIR}} cmake --build build/${{matrix.preset}} -j

    - name: Run sonar-scanner
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      run: sonar-scanner --define sonar.cfamily.compile-commands="${{ env.BUILD_WRAPPER_OUT_DIR }}/compile_commands.json" --define sonar.sources="infrastructure/core"
