name: test minijava

on:
  push:
    branches: [ master ]
    paths:
      - 'compiler-construction/minijava/**'
      - '.github/workflows/test-minijava.yml'
  pull_request:
    branches: [ master ]
    paths:
      - 'compiler-construction/minijava/**'
      - '.github/workflows/test-minijava.yml'

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        preset: [ci-test-minijava-debug, ci-test-minijava-release]

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true
    - name: Setup SSH key
      uses: webfactory/ssh-agent@v0.7.0
      with:
        ssh-private-key: ${{secrets.SSH_PRIVATE_KEY}}

    - uses: seanmiddleditch/gha-setup-ninja@master
    - uses: ilammy/msvc-dev-cmd@v1

    - name: Configure Tests
      run: cmake . --preset=${{matrix.preset}}
    - name: Build Tests
      run: cmake --build build/${{matrix.preset}} -j
    - name: Run Tests
      run: ctest --test-dir ./build/${{matrix.preset}}/compiler-construction/minijava --verbose
