name: test runner

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true
    - name: Setup SSH key
      uses: webfactory/ssh-agent@v0.7.0
      with:
        ssh-private-key: ${{secrets.SSH_PRIVATE_KEY}}
    - name: Set up X11 on Ubuntu
      if: runner.os == 'Linux'
      run: |
        sudo apt-get update
        sudo apt-get install -y libx11-dev libwayland-dev wayland-protocols libxkbcommon-dev xorg-dev libglu1-mesa-dev
    - name: Install Qt 6.7.0
      uses: jurplel/install-qt-action@v3
      with:
        version: '6.7.0'
        # modules: 'debug_info'
        setup-python: 'false'
    - name: configure debug
      run: cmake . -B build -DBUILD_SHARED_LIBS=ON -DCMAKE_BUILD_TYPE=Debug
    - name: build debug
      run: cmake --build build --config Debug
    - name: unittests debug
      if: matrix.os == 'windows-latest'
      run: ./build/bin/Debug/unittests
    - name: unittests debug
      if: matrix.os != 'windows-latest'
      run: ./build/bin/unittests
    - name: configure release
      run: cmake . -B build -DBUILD_SHARED_LIBS=ON -DCMAKE_BUILD_TYPE=Release
    - name: build release
      run: cmake --build build --config Release
    - name: unittests release
      if: matrix.os == 'windows-latest'
      run: ./build/bin/Release/unittests
    - name: unittests release
      if: matrix.os != 'windows-latest'
      run: ./build/bin/unittests
#    - name: Setup Python 2.7
#      uses: actions/setup-python@v4
#      with:
#        python-version: '2.7'
#    - name: Install Autobahn TestSuite
#      run: |
#        python -m pip install --upgrade pip
#        pip install autobahntestsuite
#    - name: Start WebSocket Server
#      run: |
#        ./build/bin/Release/ws-server2
#    - name: Wait for server to launch
#      run: sleep 1
#    - name: Run Autobahn TestSuite
#      run: |
#        wstest -m fuzzingclient -s test/autobahn-testsuite/config/fuzzingclient.json
#    - name: Upload Test Reports
#      uses: actions/upload-artifact@v3
#      with:
#        name: autobahn-test-reports
#        path: |
#          # Adjust this path to where the Autobahn Testsuite generates its reports
#          test/autobahn-testsuite/reports/*
