name: test core

on:
  push:
    branches: [ master ]
    paths:
      - 'infrastructure/core/**'
      - 'infrastructure/test-core/**'
  pull_request:
    branches: [ master ]
    paths:
      - 'infrastructure/core/**'
      - 'infrastructure/test-core/**'

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        preset: [ci-test-core-debug, ci-test-core-release]

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true
    - name: Setup SSH key
      uses: webfactory/ssh-agent@v0.7.0
      with:
        ssh-private-key: ${{secrets.SSH_PRIVATE_KEY}}

    - uses: seanmiddleditch/gha-setup-ninja@master

    - name: Configure Tests
      run: cmake . --preset=${{matrix.preset}}
    - name: Build Tests
      run: cmake --build build/${{matrix.preset}} -j
    - name: Run Tests
      run: ./build/${{matrix.preset}}/bin/test-core
