name: test core

on:
  push:
    branches: [ master ]
    paths:
      - 'infrastructure/core/**'
      - 'infrastructure/test-core/**'
  pull_request:
    branches: [ master ]
    paths:
      - 'infrastructure/core/**'
      - 'infrastructure/test-core/**'

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true
    - name: Setup SSH key
      uses: webfactory/ssh-agent@v0.7.0
      with:
        ssh-private-key: ${{secrets.SSH_PRIVATE_KEY}}

    - uses: seanmiddleditch/gha-setup-ninja@master

    - name: configure debug
      run: cmake . --preset=ci-test-core-debug
    - name: build debug
      run: cmake --build build -j
    - name: unittests debug
      run: ./build/ci-test-core-debug/bin/test-core

    - name: configure release
      run: cmake . --preset=ci-test-core-release
    - name: build release
      run: cmake --build build -j
    - name: unittests release
      run: ./build/ci-test-core-release/bin/test-core
